{% extends "inicioAdmin.html" %}


{% block title %}SA | Nota{% endblock %}


{% block content %}



<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <br>


            <header class="card-header bg-color-f text-color text-center justify-content-center border">
                <label class="mt-4 m-4 h2 ">Consulta | Nota</label>
            </header>

            <br>
            <div class="m-1">
              
         
            </div>
            <br>

            <div class="card mb-4">
                <div class="card-header bg-color-f text-color ">
                    <i class="fas fa-table me-1"></i><label>Usuarios disponibles en el sistema</label>
                </div>
                <div class="card-body text-center align-items-center">
                    <table id="datatablesSimple">
                        <thead>
                            <tr>
                                <th>Cédula</th>
                                <th>Estudiante</th>
                                <th>Jornada</th>
                                <th>Curso/Paralelo</th>
                                <th>Materia</th>
                                <th>1er_Trimestre</th>
                                <th>2do_Trimestre</th>
                                <th>3er_Trimestre</th>
                                <th>Nota Final</th>
                            </tr>
                        </thead>



                        <tbody class="text-danger">
                            {% for presenta in x %}
                            
                            <tr>
                                
                                <td>{{presenta.matricula.estudiante.documento}}</td>
                                <td>{{presenta.matricula.estudiante.nombre}} {{presenta.matricula.estudiante.apellido}}</td>
                                <td>{{presenta.jornada}}</td>
                                <td>{{presenta.matricula.curso_paralelo}}</td>
                                <td>{{presenta.materia}}</td>
                                <td>{{presenta.puntaje1}}</td>
                                <td>{{presenta.puntaje2}}</td>
                                <td>{{presenta.puntaje3}}</td>
                                <td>{{presenta.promedio_general}}</td>

             
                            </tr>
                            {% endfor %}
                            
                        </tbody>


                    </table>
                </div>
            </div>
        </div>
    </main>
</div>

<!-- modal de crear -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header text-bg-success">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Crear Usuario</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action="{% url 'adduser' %}" method="post">
            <div class="modal-body">
                {% csrf_token  %}
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Nombres</label>
                    <input type="text" class="form-control" name="name">                    
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Apellidos</label>
                    <input type="text" class="form-control" name="lastname">                    
                </div>

                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email </label>
                    <input type="email" class="form-control" name="email" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">nombre de usuario</label>
                    <input type="text" class="form-control" name="username">                    
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input type="password" class="form-control" name="password">                    
                </div>
                <!-- <div class="mb-3">
                    <input type="password" class="form-control" name="supervisor" value="true">                    
                </div>
                <div class="mb-3">
                    <input type="password" class="form-control" name="">                    
                </div> -->

                    
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-success" value="Add">GUARDAR</button>
            </div>
        </form>
      </div>
    </div>
  </div>

  <!-- modal de modificar -->
  {% for i in x %}
  <div class="modal fade" id="h-{{forloop.counter}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header text-bg-primary">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Modificar Usuario</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        
        <form method="post" action="/update/{{i.id}}">
            {% csrf_token %}
            <div class="modal-body">
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Nombres</label>
                    <input name="name1" value="{{i.first_name}}" type="text" class="form-control" id="#">                    
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Apellidos</label>
                    <input name="lastname1" value="{{i.last_name}}" type="text" class="form-control" id="#">                    
                </div>

                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email </label>
                    <input name="email1" value="{{i.email}}" type="email" class="form-control" id="#" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">nombre de usuario</label>
                    <input name="username1" value="{{i.username}}" type="text" class="form-control" id="#">                    
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input value="{{i.password}}" name="password1" type="password" class="form-control" id="#">                    
                </div>
                    
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" value="update">GUARDAR</button>
            </div>
        </form>
        
      </div>
    </div>
  </div>
  {% endfor %}
 

{% endblock %}

{% block content1 %} {% endblock %}