{% extends "inicioAdmin.html" %}


{% block title %}SA | Usuarios{% endblock %}


{% block content %}



<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <br>


            <header class="card-header bg-color-f text-color text-center justify-content-center border">
                <label class="mt-4 m-4 h2 ">Configuracion | Periodo</label>
            </header>

            <br>
            <div class="d-flex mb-3">
                <button type="button" class="btn btn-primary p-2" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    <i class="bi bi-person-plus-fill"> Crear</i>
                </button>
                
            </div>
            <br>
            

            <div class="card mb-4">
                <div class="card-header bg-color-f text-color ">
                    <i class="fas fa-table me-1"></i><label>Usuarios disponibles en el sistema</label>
                </div>
                <div class="card-body text-center align-items-center">
                    <table id="datatablesSimple">
                        <thead>
                            <tr>

                                <th>Trimestre</th>
                                <th>Parcial</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>



                        <tbody>
                            {% for presenta in x %}
                            <tr>
                                <td>{{presenta.trimestre}}</td>
                                <td>{{presenta.parcial}}</td>
                            
                    
                                <td>
                                    <button title="modificar" type="button" class="btn bg-primary text-white " data-bs-toggle="modal"
                                        href="#h-{{forloop.counter}}">
                                        <i class="bi bi-pencil-square"></i>
                                    </button>
                                    <button title="eliminar" class="btn text-white bg-danger" onclick="eliminar({{presenta.id}})"
                                        title="eliminar"><i class="bi bi-trash3-fill"></i></button>

                                </td>
                            </tr>
                            {% endfor %}

                        </tbody>


                    </table>
                </div>
            </div>

        </div>
    </main>
</div>


<!-- modal de crear -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-bg-primary">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Crear Trimestre/Parcial</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="{% url 'addtrimestrep' %}" method="post">
                <div class="modal-body">
                    {% csrf_token  %}
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Trimestre</label>
                        <select id="disabledSelect" name="trimestre" class="form-select">
                            {% for i in tri %}
                            <option value="{{i.id}}">{{i.nombre_trimestre}}</option>
                            {% endfor %}
                          </select>
                    </div>

                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Parcial</label>
                        <select id="disabledSelect" name="parcial" class="form-select">
                            {% for i in par %}
                            <option value="{{i.id}}">{{i.nombre_parcial}}</option>
                            {% endfor %}
                          </select>
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary" value="Add">GUARDAR</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- modal de modificar -->
{% for i in x %}
<div class="modal fade" id="h-{{forloop.counter}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-bg-primary">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Modificar Jornada</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <form method="post" action="/updatetrimestrep/{{i.id}}">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Trimestre</label>
                        <select class="form-select" name="tri1" >
                            <option value="{{i.trimestre.id}}">{{i.trimestre}}</option>
                            {% for t in tri %}
                            <option value="{{t.id}}">{{t.nombre_trimestre}}</option>
                            {% endfor %}
                          </select>
                        <!-- <input name="name1" value="{{i.trimestre}}" type="text" class="form-control" id="#"> -->
                       
                    </div>


                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Parcial</label>
                        <select class="form-select" name="parcial1" >
                            <option value="{{i.parcial.id}}">{{i.parcial}}</option>
                            {% for p in par %}
                            <option value="{{p.id}}">{{p.nombre_parcial}}</option>
                            {% endfor %}
                          </select>
                        <!-- <input type="text" value="{{i.parcial}}" class="form-control" name="parcial1"> -->
                    </div>

      
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" value="update">GUARDAR</button>
                </div>
            
            </form>

        </div>
    </div>
</div>
{% endfor %}





{% endblock %}

{% block script %}

<script>
    function eliminar(id) {
        Swal.fire({
                "title": "¿Estas seguro?",
                "text": "Esta acción no se puede deshacer",
                "icon": "question",
                "showCancelButton": true,
                "cancelButtonText": "Cancelar",
                "confirmButtonText": "Eliminar",
                "reverseButtons": true,
                "cancelButtonColor": "#dc3545",
                "confirmButtonColor": "#0d6efd"
            })
            .then(function (result) {
                if (result.isConfirmed) {
                    window.location.href = "/elimina-T/" + id + "/"
                }
            })
    }
</script>

{% endblock %}
{% block content1 %} {% endblock %}


