{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SISTEMA ACADEMICO</title>
    <link rel="icon" href="static/Imagenes/iconoo.ico">
  
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    {% comment %} <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">{% endcomment %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css"> 
    <link href="static/css/style11.css" rel="stylesheet">
</head>
  <body>
    <nav class="navbar navbar-expand-md navbar-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <img src="static/Imagenes/logo-login.png" alt="logo" width="50px">SISTEMA ACADEMICO
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav d-flex justify-content-center align-items-center ms-auto">
              <li class="nav-item">
                <a class="nav-link active" id="sd1" aria-current="page" href="#sobre-nosotros">Nosotros</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" id="sd1" aria-current="page" href="#directiva">Directiva</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" id="sd1" href="#mv">Misión y Visión</a>
              </li>
              <li class="nav-item ">
                <a class="nav-link active" id="sd1" href="#cont">Contactos</a>
              </li>
              <li class="nav-item">
                {% if request.user.is_authenticated %}
                  <a class="nav-link active "id="sdw" href="{% url 'inicio' %}">Ingresar</a>
                {% else %}
                  <a class="nav-link active "id="sdw" href="{% url 'login' %}">Login</a>
                {% endif %}
              </li>
            </ul>
          </div>
        </div>
      </nav>
    <section class="hero align-items-stretch">
      <div class="hero-principal flex-column  justify-content-center align-content-center">
        <img class="hero-imagen" src="static/Imagenes/logo-login.png" alt="escudo de la institucion">
        <h1>SISTEMA ACADEMICO</h1>
        <h2>creado por el ISTG</h2> 
      </div>
      <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="static/Imagenes/a1.jpg" id="gra" class="d-block w-100" alt="graducacion">
          </div>
          <div class="carousel-item">
            <img src="static/Imagenes/a2.jpg" id="gra" class="d-block w-100" alt="graduados">
          </div>
          <div class="carousel-item">
            <img src="static/Imagenes/a3.jpg" id="gra" class="d-block w-100" alt="graduados">
          </div>
          <div class="carousel-item">
            <img src="static/Imagenes/a4.jpg" id="gra" class="d-block w-100" alt="graduados">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Anterior</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Siguiente</span>
        </button>
      </div>
    </section>
    <!-- sobre nosotros -->
    <section id="sobre-nosotros" class="sobre-nosotros seccion-oscura">
      <div class="contenedor">
        <h2 class="seccion-titulo">Conoce sobre nosotros</h2>
        <p class="seccion-tecto">Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
          Mauris ut faucibus nulla. Donec facilisis, risus non dapibus placerat, 
          orci dui ultrices tortor, quis hendrerit neque metus sit amet massa. 
          In hendrerit, sapien ut tristique laoreet, elit velit fermentum turpis, 
          dapibus sollicitudin eros turpis sed massa. Duis consequat dignissim neque, 
          id tempus est. Morbi mattis et dolor ut ultricies. Nam velit nunc, consectetur et nisl id, 
          commodo tristique diam. Maecenas erat justo, finibus vel dui eu, luctus feugiat neque. 
          Aenean vehicula pretium risus, a semper sapien pretium sit amet. Curabitur interdum urna vel 
          ultricies rutrum. Nulla aliquet nec urna ut vehicula. Fusce pharetra condimentum velit, 
          sit amet commodo dolor. Etiam dapibus, lectus tristique molestie commodo, justo nisl pretium justo, 
          ut malesuada tortor est non libero. Nullam sagittis felis sem. 
        </p>
      </div>
    </section>
    <!-- mision y vision -->
    <section id="mv" class="mision seccion-clara">
      <div class="container text-center">
        <div class="row">
          <div class="columna col-12 col-md-6">
            <i class="bi bi-check2-square"></i>
            <p class="mision-titulo">Misión</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
              Mauris ut faucibus nulla. Donec facilisis, risus non dapibus placerat, 
              orci dui ultrices tortor, quis hendrerit neque metus sit amet massa. 
              In hendrerit, sapien ut tristique laoreet, elit velit fermentum turpis, 
              dapibus sollicitudin eros turpis sed massa.</p>
          </div>
          <div class="columna col-12 col-md-6">
            <i class="bi bi-eye"></i>
            <p class="mision-titulo">Visión</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
              Mauris ut faucibus nulla. Donec facilisis, risus non dapibus placerat, 
              orci dui ultrices tortor, quis hendrerit neque metus sit amet massa. 
              In hendrerit, sapien ut tristique laoreet, elit velit fermentum turpis, 
              dapibus sollicitudin eros turpis sed massa.</p>
          </div>

        </div>
      </div>
    </section>
    <section id="directiva" class="directiva seccion-clara">
      <h2 class="seccion-titulo">Directiva</h2>
      <div id="directiva-carousel" class="carousel carousel-dark carousel slide">
        <div class="carousel-inner">
          <div class="carousel-item active uno">
            <div class="container dos">
              <img class="directiva-imagen rounded-circle" src="static/Imagenes/drec1.jpg" alt="directora">
              <p class="directiva-texto">Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Mauris ut faucibus nulla. Donec facilisis, risus non dapibus placerat, 
                orci dui ultrices tortor, quis hendrerit neque metus sit amet massa.</p>
              <div class="directiva-info">
                <p class="nombredirec">Ing. lorem ipsum</p>
                <p class="cargo">Rectora de la institucion</p>
              </div>
            </div>
          </div>
          <div class="carousel-item uno">
            <div class="container dos">
              <img class="directiva-imagen rounded-circle" src="static/Imagenes/drec2.jpg" alt="vicerector">
              <p class="directiva-texto">Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Mauris ut faucibus nulla. Donec facilisis, risus non dapibus placerat, 
                orci dui ultrices tortor, quis hendrerit neque metus sit amet massa.</p>
              <div class="directiva-info">
                <p class="nombredirec">Ing. lorem ipsum</p>
                <p class="cargo">Vicerector de la institucion</p>
              </div>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#directiva-carousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Anterior</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#directiva-carousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Siguiente</span>
        </button>
      </div>
    </section>
    <section id="cont" class="contacto seccion-oscura">
      <div class="container cont">
        <div class="container rectangulo text-center d-flex justify-content-evenly">
          <div class="row">
            <div class="col-12 col-md-4 seccion-titulo">
              ¡Escribenos!
            </div>  
            <div class="col-12 col-md-4 descripcion">
              Contactanos para alguna consulta
            </div>
            <div class="col-12 col-md-4 ">
              <a href="mailto:">
                <button type="button">
                  contacto
                  <i class="bi bi-envelope-check-fill"></i>
                </button>
              </a>  
            </div>
          </div>
        </div>
      </div>
    </section>

    {% comment %} <script src="{% static 'jscript/session_timeout.js' %}"></script> {% endcomment %}

    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}" crossorigin="anonymous"></script>
    
  </body>
</html>