{% extends "inicioAdmin.html" %}


{% block title %}SA | Estudiante{% endblock %}


{% block content %}



<div id="layoutSidenav_content">
  <main>
    <div class="container-fluid px-4">
      <br>


      <header class="card-header bg-color-f text-color text-center justify-content-center border">
        <label class="mt-4 m-4 h2 ">Datos del Profesor</label>
      </header>

      <br>



      <form action="{% url 'savep' %}" method="post" class="was-validated" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="tab-content" id="pills-tabContent">
          <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab"
            tabindex="0">
      
           
            <div class="row">
              <div class="form-group col-lg-6 col-md-6">
                <input value="{{request.user.id}}" type="text" class="form-control" hidden="hidden" name="id_usuario">
              </div>
            </div>
            <div class="row">
              <div class="text-center">
                {% if pr.imagen %}
                <img src="{{ pr.imagen.url }}" class="rounded" alt="foto deperfil" width="200px" height="200px">
                {% else %}
                <img src="/media/PROFESORES/logopro.jpg" class="rounded" alt="foto deperfil" width="200px" height="200px">
                {% endif %}
              </div>
            </div>
            
            <div class="row">
              <div class="form-group col-lg-6 col-md-6">
                <label for="exampleInputEmail1">Foto de perfil:</label> 
                <input type="file" class="form-control" aria-label="file example" value="{{ pr.imagen.url }}" name="txt" required>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-lg-4 col-md-6">
                <label for="exampleInputEmail1">Nombres:</label> 
                <input value="{{request.user.first_name}}" type="text" class="form-control " name="nombre"
                  placeholder="Nombres" readonly>
              </div>
              <div class="form-group col-lg-4 col-md-6">
                <label for="exampleInputPassword1">Apellidos:</label>
                <input value="{{request.user.last_name}}" type="text" class="form-control " name="apellido"
                  placeholder="Apellidos" readonly>
              </div>
              <div class="form-group col-lg-4 col-md-6">
                <label for="exampleInputPassword1">Estado Civil:</label>
                <input type="text" class="form-control " value="{{pr.estado_civil}}" name="estado_civil" placeholder="Estado Civil" required aria-label="select example">
              </div>
      
            </div>
            <div class="row">
              <div class="form-group col-lg-4 col-md-6">
                <label for="exampleInputPassword1">Tipo de documento:</label>
                <select id="disabledSelect" name="documento"  class="form-select" required aria-label="select example">
                  <option value="{{pr.tipo_documento.id}}" >{{pr.tipo_documento}}</option>
                  {% for cd in uno %}
                  <option value="{{cd.id}}">{{cd.name_td}}</option>
                  {% endfor %}
                </select>
              </div>

              <div class="form-group col-lg-4 col-md-6 col-sm-12">
                <label for="exampleInputEmail1">Numero de identificación:</label>
                <input type="text" class="form-control " value="{{pr.N_documento}}"name="CI" placeholder="N_identificacion" required aria-label="select example">
              </div>
              <div class="form-group col-lg-4 col-md-6">
                <label for="exampleInputPassword1">Genero:</label>
                <select id="disabledSelect" name="genero" class="form-select" required aria-label="select example">
                  <option value="{{pr.genero.id}}" >{{pr.genero}}</option>
                  {% for cd in dos %}
                  <option value="{{cd.id}}">{{cd.name_g}}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-lg-4 col-md-6">
                <label for="exampleInputPassword1">Nacionalidad:</label>
                <input type="text" class="form-control " value="{{pr.nacionalidad}}"  name="nacionalidad" placeholder="nacionalidad" required aria-label="select example">
              </div>
              <div class="form-group col-lg-4 col-md-6">
                <label for="exampleInputEmail1">Fecha de nacimiento:</label>
                <input type="date" value="{{pr.nacimiento_fecha|date:'Y-m-d'}}" class="form-control " name="fecha" placeholder="Dia/Mes/Año" required aria-label="select example">
              </div>
              <div class="form-group col-lg-4 col-md-6">
                <label for="exampleInputPassword1">Etnia:</label>
                <select id="disabledSelect" name="etnia" class="form-select" required aria-label="select example">
                  <option value="{{pr.etnia.id}}"  >{{pr.etnia}}</option>
                  {% for cd in tres %}
                  <option value="{{cd.id}}">{{cd.name_et}}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-lg-6 col-md-6">
                <label for="exampleInputPassword1">Dirección:</label>
                <input type="text" class="form-control " value="{{pr.direccion}}" name="direccion" placeholder="Dirección" required aria-label="select example">
              </div>

              <div class="form-group col-lg-6 col-md-6 col-sm-12">
                <label for="exampleInputEmail1">Correo:</label>
                <input type="text" class="form-control " value="{{pr.correo}}" name="correo" placeholder="Correo" required aria-label="select example">
              </div>
            </div>

            <div class="row">
              <div class="form-group col-lg-4 col-md-6 col-sm-12">
                <label for="exampleInputEmail1">Telefono:</label>
                <input type="text" class="form-control " value="{{pr.telefono}}" name="telefono"placeholder="Número de celular" required aria-label="select example">
              </div>
              <div class="form-group col-lg-4 col-md-6 col-sm-12">
                <label for="exampleInputPassword1">Especialidad:</label>
                <input type="text" class="form-control " value="{{pr.especialidad}}" name="especialidad" placeholder="Tú especialidad" required aria-label="select example">
              </div>
              <div class="form-group col-lg-4 col-md-6 col-sm-12">
                <label for="exampleInputEmail1">Tipo de Sangre:</label>
                <select id="disabledSelect" name="sangre" class="form-select" required aria-label="select example">
                  <option value="{{pr.tipo_sangre.id}}" >{{pr.tipo_sangre}}</option>
                  {% for cd in cuatro %}
                  <option value="{{cd.id}}">{{cd.name_ts}}</option>
                  {% endfor %}
                </select>
              </div>

            </div>
            <div class="row">
              <div class="form-group col-lg-4 col-md-6 col-sm-12">
                <label for="exampleInputEmail1">Tiene discapacidad:</label>
                <input type="text" class="form-control " value="{{pr.tiene_discapacidad}}" name="discapacidad"placeholder="Si o No" required aria-label="select example">
              </div>
              <div class="form-group col-lg-4 col-md-6 col-sm-12">
                <label for="exampleInputEmail1">Tipo de discapacidad:</label>
                <input type="text" class="form-control " value="{{pr.tipo_discapacidad}}" name="tipo_dis"placeholder="tipo" >
              </div>
              <div class="form-group col-lg-4 col-md-6 col-sm-12">
                <label for="exampleInputPassword1">Carnet de discapacidad:</label>
                <input type="text" class="form-control " value="{{pr.carnet_discapacidad}}" name="carnet" placeholder="Numero del carnet" >
              </div>

            </div>
            <div class="row justify-content-center">
              <button type="submit" class="btn btn-primary m-4  col-auto w-25">
                Guardar <i class="bi bi-save"></i>
              </button>
            </div>
          </div>
        </div>
      </form>




    </div>  
  </main>
</div>




{% endblock %}


{% block content1 %} {% endblock %}